<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.holmal.app.holmal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

            <!-- open activity_main when app starts, instead of first time -->
            <!--
                <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".StartActivity" />
        <activity android:name=".CreateHouseholdActivity" />
        <activity android:name=".MoveInHouseholdActivity" />
        <activity android:name=".ShoppingListActivity" />
        <activity android:name=".CreateItemActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FavoritesActivity" />
        <activity android:name=".AllShoppingListsActivity" />
        <activity android:name=".CreateShoppingListActivity" />
        <activity android:name=".MyTasksActivity" />
        <activity android:name=".SettingsActivity"></activity>
        <activity android:name=".ItemInformationActivity"></activity>
    </application>

</manifest>